# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
**/.venv/

# Environment variables
**/.env

# OS / editor
.DS_Store
.vscode/

# Local database / generated storage
backend/storage/chroma_db/

# Python test/cache
.pytest_cache/
.mypy_cache/

# Logs
*.log